<swiper-container init="false" class="w-full h-full relative" style="--swiper-pagination-color: #ff7d03; --swiper-pagination-bullet-size: 10px; --swiper-pagination-bullet-inactive-opacity: 0.7; --swiper-navigation-color: #ffffff00;">
  <swiper-slide>
    <app-slide-card [data]="{ mainImage: 'https://images.pexels.com/photos/29191749/pexels-photo-29191749/free-photo-of-agricultor-tradicional-em-ambiente-rural-vietnamita.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' }"/>
  </swiper-slide>
  <swiper-slide>
    <app-slide-card [data]="{ mainImage: 'https://images.pexels.com/photos/24964744/pexels-photo-24964744/free-photo-of-montanhas-e-praias.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' }"/>
  </swiper-slide>
</swiper-container>

<div class="z-10 material-symbols-outlined absolute text-5xl text-white w-[60px] h-[60px] flex items-center justify-center rounded-lg bg-PRIMARY-default right-14 top-[50%] -translate-y-[25px] cursor-pointer hover:opacity-85" (click)="swiperEl?.swiper?.slideNext()">chevron_right</div>
<div class="z-10 material-symbols-outlined absolute text-5xl text-white w-[60px] h-[60px] flex items-center justify-center rounded-lg bg-PRIMARY-default left-14 top-[50%] -translate-y-[25px] cursor-pointer hover:opacity-85" (click)="swiperEl?.swiper?.slidePrev()">chevron_left</div>
