<swiper-container init="false">
  <swiper-slide>
    <app-slide-card />
    <img src="https://picsum.photos/1000/500?random=1" alt="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/1000/500?random=2" alt="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/1000/500?random=3" alt="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/1000/500?random=4" alt="" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/1000/500?random=5" alt="" />
  </swiper-slide>
</swiper-container>
