<img
  src="https://dark.netflix.io/share/global.png"
  alt=""
  class="size-24 object-cover"
/>
<div class="flex gap-1 h-full w-full overflow-x-hidden flex-col *:m-[0!important] justify-center">
  <h2 class="text-sm group-hover:text-black truncate w-full">
    Chat-GPT for Profit: A Tehc Talk for Non-Techies
  </h2>
  <span class="flex gap-0.5 text-small items-center">
    <span class="material-symbols-outlined text-base group-hover:text-black">
      confirmation_number
    </span>
    <p class="group-hover:text-black m-[0!important]">Free</p>
  </span>
  <p class="text-small group-hover:text-black">
    Terça, 8 de Janeiro - 15hrs GMT-3
  </p>
</div>
