<div class="flex gap-4 hover:bg-white rounded group cursor-pointer transition-colors overflow-hidden">
  <img src="https://dark.netflix.io/share/global.png" alt="" class="size-24 object-cover"/>
  <div class="flex justify-center flex-col">
    <h2 class="text-wrap text-sm group-hover:text-black">Chat-GPT for Profit: A Tehc Talk for Non-Techies</h2>
    <span class="flex gap-0.5 text-small items-center">
      <span class="material-symbols-outlined text-base group-hover:text-black"> confirmation_number </span>
      <p class="group-hover:text-black">Free</p>
    </span>
    <p class="text-small group-hover:text-black">Terça, 8 de Janeiro - 15hrs GMT-3</p>
  </div>
</div>
