
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $agRv.Frontend-primary: mat.define-palette(mat.$indigo-palette);
// $agRv.Frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $agRv.Frontend-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $agRv.Frontend-theme: mat.define-light-theme((
//   color: (
//     primary: $agRv.Frontend-primary,
//     accent: $agRv.Frontend-accent,
//     warn: $agRv.Frontend-warn,
//   ),
//   typography: mat.define-typography-config(),
//   density: 0
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($agRv.Frontend-theme);

// @import '~swiper/swiper-bundle.min.css';

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins', sans-serif, normal;
    font-weight: 400;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    appearance: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  img {
    -webkit-user-drag: none;
    pointer-events: none;
  }

  ::-webkit-scrollbar {
    width: 0.3vw;
    background-color: #dfdfdf;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FE3300;
  }

  input {
    -webkit-user-select: text;
    /* Chrome, Opera, Safari */
    -moz-user-select: text;
    /* Firefox 2+ */
    -ms-user-select: text;
    /* IE 10+ */
    user-select: text;
    /* Standard syntax */
  }

  body {
    width: 100vw;
    height: 100dvh;
  }
}

@layer components {}

@layer utilities {
  .scrollbar-horizontal::-webkit-scrollbar {
    height: 2px;
  }

  .tag {
    @apply py-[5px] px-[20px] first-letter:uppercase rounded-md block w-fit font-medium;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .shadow {
    box-shadow: 0 0 10px .05px black;
  }

  .shiny {
    @apply shadow-shiny shadow-WHITE-default;
  }

  .text-small {
    @apply text-xs font-normal;
  }

  .separator-horizontal {
    border-color: rgba(0,0,0,.2);
    @apply block border-solid m-12 border-t-[1.5px] border-0;
  }

  .stroke-xs-white {
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: rgba(255,255,255);
  }

  .stylish-font {
    font-family: 'Jomhuria';
  }
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
